.form {
    width: 50%;
    margin: 100px 0;
    right: 100px;

}

input {
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin-top: 18px;
    margin-bottom: 16px;
    padding: 0 8px;
}

#name, #email, #number {
    width: 200px;
}

.flex-form {
    display: flex;
    column-gap: 25px;
}

#address, #subject, textarea {
    width: 425px;
}

textarea {
    border: none;
    border-bottom: 1px solid black;
    display: block;
    height: 65px;
    padding: 0 8px;
    outline: none;
    resize: vertical;
}

#submit {
    background-color: #000;
    color: white;
    width: 425px;
    height: 33px;
    margin-top: 15px;
    border: none;
}

#submit:hover {
    background-color: rgb(126, 52, 9);
    color: #fff;
}

