.hero {
  height: 920px;
  width: 100%;
  /* margin-top: 140px; */
  /* background-color: rgb(var(--color_36)); */
  position: relative;
}

.hero .image {
  margin: 0 auto;
  width: 90%;
  height: 860px;
  background-color: rgba(30, 30, 30, 0.6);
  background-image: url(../../../assets/images/heroImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.hero .text {
  width: 820px;
  height: auto;
  position: relative;
  left: 60px;
  transform: translate(0, 75%);
}

.text a {
  outline: none;
  border: solid 1px transparent;
  background-color: rgb(var(--color_11));
  cursor: pointer;
  width: 185px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-15 {
  color: rgb(var(--color_15));
}

