.imageWrap {
  background-image: url(../assets/kitchenImage.png);
}
.imageWrap:nth-child(2) {
  background-image: url(../assets/bedroomImage.png);
}
.imageWrap:last-child {
  background-image: url(../assets/interiorImage.png);
}
