/* the first section which is "discuss" */
.discuss_lai {
    width: 50%;
    display: block;
    margin-left: 50px;
}

/* Let's Discuss Your Next Project*/
.header_lai {
    font-weight: bolder;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* section is used here to separate the header and paragraph */
.section_lai {
    margin-top: 30px;
}

/* to make the text block */
.span_lai {
    display: block;
}

/* service areas */
.service-areas_lai {
    font-weight: bold;
    margin-top: 30px;
}

/* the last three paragraph */
.p-three_lai, .p-four_lai, .p-five_lai {
    margin: 15px 0;
}


@media (max-width: 600px) {
<<<<<<< HEAD
    .discuss {
        width: 100%;
        margin: 50px 0 0 15px;
=======
    .discuss_lai {
        width: 100%;
        margin: 0 0 0 15px;
>>>>>>> 218e0d149a3b982ea2081ab2e7d218f8564b1f16
    }
}

@media (min-width: 601px) and (max-width: 768px) {
<<<<<<< HEAD
    .discuss {
        width: 75%;
        margin: 50px 0 0 15px;
=======
    .discuss_lai {
        width: 75%;
        margin: 0 0 0 15px;
>>>>>>> 218e0d149a3b982ea2081ab2e7d218f8564b1f16

    }
}

@media (min-width: 769px) and (max-width: 992px) {
<<<<<<< HEAD
    .discuss {
        width: 50%;
        margin: 50px 0 0 50px;
=======
    .discuss_lai {
        width: 50%;
        margin: 0 0 0 50px;
>>>>>>> 218e0d149a3b982ea2081ab2e7d218f8564b1f16

    }
}

@media (min-width: 993px) and (max-width: 1200px) {
<<<<<<< HEAD
    .discuss {
        width: 50%;
        margin: 50px 0 0 50px;

    }
}


/* @media (max-width: 600px) {
    .discuss {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .discuss {
        width: 50%;
    }
    .header {
        font-weight: bold;
        font-size: 30px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (min-width: 1025px) {
    .discuss {
        width: 33.33%;
    }
} */
=======
    .discuss_lai {
        width: 50%;
        margin: 0 0 0 50px;

    }
}
>>>>>>> 218e0d149a3b982ea2081ab2e7d218f8564b1f16
